{% extends 'chat/base.html' %}
{% load static %}

{% block content %}
<body>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <h2>Create room</h2>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

        <form method="POST" class="form-group">
          {% csrf_token %}
          <div class="form-group">
            <label for="room_name">Name</label>
            <input type="text" name="room_name" class="form-control"  aria-describedby="roomNameHelp" />
            <small id="roomNameHelp" class="form-text text-white">Your room name here!</small>
          </div>
          <button type="submit" class="btn btn-primary m-1">Create</button>

        </form>


    <hr />
  </div>
</div>
</body>

{% endblock %}
