{% extends 'chat/base.html' %} {% load static %} {% block content %}
<style>
  body {
    background-color: #74ebd5;
    background-image: linear-gradient(90deg, #0011 0%, #0000 100%);

    min-height: 100vh;

    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }

  .text-small {
    font-size: 0.9rem;
  }

  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }

  .rounded-lg {
    border-radius: 0.5rem;
  }

  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
</style>

<body>
  <div class="container py-5 px-4">


 <!-- Chat Box -->
 <div class="col-12 px-0">
  <div class="bg-gray px-4 py-2 bg-light">
    <p class="h5 mb-0 py-1 text-dark">{{ room.chat_name }}</p>
  </div>
  <div id="chatLog" class="px-4 py-5 chat-box bg-white">
    {% for msg in room_messages.all %}
  {% if msg.user == current_user %}
    <div class="media w-100 ml-auto mb-3 d-flex flex-row-reverse">
      <!-- your delete form here -->
      <div class="media-body text-end">
        <div class="bg-dark rounded py-2 px-3 mb-2">
          {% if '@' in msg.content %}
            <p class="text-small mb-0 text-danger">{{ msg.content }}</p>
          {% else %}
            <p class="text-small mb-0 text-white">{{ msg.content }}</p>
          {% endif %}
        </div>
        <p class="small text-muted">{{ msg.created_at|date:'M j Y H:i' }}</p>
      </div>
    </div>
  {% else %}
    <div class="media w-100 mb-3 d-flex flex-row">
      <!-- your user image here -->
      <div class="media-body ml-3 text-start">
        <div class="bg-light rounded py-2 px-3 mb-2">
          <p class="text-small fw-bold text-black">{{ msg.user }}</p>
          {% if '@' in msg.content %}
            <p class="text-small mb-0 text-danger">{{ msg.content }}</p>
          {% else %}
            <p class="text-small mb-0 text-muted text-black">{{ msg.content }}</p>
          {% endif %}
        </div>
        <p class="small text-muted">{{ msg.created_at|date:'M j Y H:i' }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}

    <!-- End chatbox -->
  </div>

      <!-- Typing area -->
      <form action="#" class="bg-light">
        {% comment %} {% csrf_token %} {% endcomment %} {% comment %}
        <div class="input-group">
          <input
            id="chatMessageInput"
            type="text"
            placeholder="Type a message"
            aria-describedby="button-addon2"
            class="form-control rounded-0 border-0 p-1 m-1 bg-light"
          />
          <button
            id="chatMessageSend"
            type="button"
            class="btn btn-light text-bg-dark"
          >
            Send
          </button>
        </div>
        {% endcomment %}
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="chatMessageInput"
            placeholder="Enter your chat message"
          />
          <div class="input-group-append">
            <button
              class="btn btn-light text-bg-dark"
              id="chatMessageSend"
              type="button"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
   {{ room.id|json_script:"roomId" }}
  {% comment %} {{ current_user.username|json_script:"currentUser" }}  {% endcomment %}
  </div>

   <script src="{% static 'room.js' %}"></script>
</body>
{% endblock %}
